<!-- <!-- <div class="container my-4">
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <img src="../assets/Mobile login-pana.png" class="img-fluid" alt="" />
      </div>
      <div class="col-6 bg-info bg-opacity-25 rounded-2 p-4">
        <h3 class="text-info border-bottom border-info">Cadastro</h3>
        <form [formGroup]="pessoa" class="row">
          <div class="col-6 mb-3">
            <label class="form-label">Nome</label>
            <input formControlName="nome" type="text" class="form-control" />
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Sobrenome</label>
            <input formControlName="sobrenome" type="text" class="form-control" />
          </div>
          <div class="col-12 mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" />

          </div>
          <div class="col-12 mb-3">
            <label class="form-label">CEP</label>
            <input formControlName="cep" type="text" class="form-control" />
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Senha</label>
            <input formControlName="senha" type="password" class="form-control" />
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Idade</label>
            <input formControlName="idade" type="number" class="form-control" />
          </div>
          <div class="col-12 mb-3">
            <label class="form-label">Mora na região de Santa Catarina?</label>
            <select formControlName="moraEmSC" class="form-select" aria-label="Default select example">
              <option selected disabled>Selecione uma opção</option>
              <option value="sim">Sim</option>
              <option value="não">Não</option>
            </select>
          </div>
          <div class="col-12 mt-2">
            <button (click)="showResults()" type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->

  <div class="container my-4">
    <form [formGroup]="pessoa" class="row">
      <div class="col-6 mb-3">
        <label class="form-label">Nome</label>
        <input formControlName="nome" type="text" class="form-control" />
      </div>
      <div class="col-6 mb-3">
        <label class="form-label">Sobrenome</label>
        <input formControlName="sobrenome" type="text" class="form-control" />
      </div>
      <div class="col-6 mb-3">
        <label class="form-label">CEP</label>
        <input formControlName="cep" type="text" class="form-control" />
      </div>
      <div class="col-12 mt-2">
        <button (click)="showResults()" type="submit" class="btn btn-primary">
          Enviar
        </button>
      </div>
    </form>
  </div> -->