<!-- <main class="container mt-5" > 
  <h1>Cadastro</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Nome</label>
      <input [formControl]="nome" type="text" class="form-control" >
    </div>
    <div class="col-md-6">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input [formControl]="sobrenome" type="text" class="form-control" >
    </div>
    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input [formControl]="email" type="text" class="form-control" placeholder="exemplo@gmail.com">
    </div>
    <div class="col-md-6">
      <label for="senha" class="form-label">Senha</label>
      <input [formControl]="senha" type="text" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="idade" class="form-label">Idade</label>
      <input [formControl]="idade"type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Mora na região de Santa Catarina?</label>
      <select formControlName="moraEmSC" class="form-select" aria-label="Default select example">
        <option selected disabled>Selecione uma opção</option>
        <option value="sim">Sim</option>
        <option value="não">Não</option>
      </select>
    </div>
    <label for="exampleFormControlInput1" class="form-label">Quais tecnologias já estudou?</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label" for="flexRadioDefault1"> Angular
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label" for="flexRadioDefault1"> Javascrip
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label" for="flexRadioDefault2"> Docker
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label"> .NET
      </label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" (click)="mostraValor() " class="btn green">Enviar</button>
    </div>

  </form>
</main> -->

<!-- <div [formGroup]="compra">>
  <label>Produto </label>
  <input type="text" formControlName="produto" />
  <label for="street">Quantidade </label>
  <input type="text" formControlName="quantidade" />
  <div formGroupName="address">
    <h2>Address</h2>
    <label for="street">Street: </label>
    <input type="text" formControlName="rua" />
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" (click)="mostraValor() " class="btn green">Enviar</button>
  </div>

</div> -->


<div class="input-container">
  <h1>Login</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        required
      />
    </div>
      <!-- <div *ngIf="notEmail">
        <div class="alert alert-danger">Email is required</div>
      </div> -->
      <!-- <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        (keyup)="validatePassword()"
        required
      /> -->

      <!-- <div *ngIf="notPassword">
        <div class="alert alert-danger">
          Password is required and must be at least 8 characters
        </div>
      </div> -->
      <!-- <p>Não possui o cadastro?</p>
      <a href="">Cadastre-se aqui!</a> -->
    </div>
  </form>

  <div class="container">
    <!-- Vertically centered scrollable modal -->
    <a
      href=""
      class="teste"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@mdo"
    >
      Esqueci minha senha
    </a>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Digite seu email
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <p>
                Será enviado um token para redefinição de senha para o email
                digitado abaixo
              </p>
              <div class="mb-3">
                <label for="forgetEmail" class="col-form-label"
                  >Digite seu email:</label
                >
                <input
                  formControlName="forgetEmail"
                  type="email"
                  class="form-control"
                  id="forgetEmail"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="button" class="btn btn-primary">Enviar token</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 
  <button
    class="btn btn-primary"
    (click)="submitLogin()"
    [disabled]="!form.valid"
    type="submit"
  >
    Entrar
  </button> -->
</div>