<!-- <main class="container mt-5" > 
  <h1>Cadastro</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Nome</label>
      <input [formControl]="nome" type="text" class="form-control" >
    </div>
    <div class="col-md-6">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input [formControl]="sobrenome" type="text" class="form-control" >
    </div>
    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input [formControl]="email" type="text" class="form-control" placeholder="exemplo@gmail.com">
    </div>
    <div class="col-md-6">
      <label for="senha" class="form-label">Senha</label>
      <input [formControl]="senha" type="text" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="idade" class="form-label">Idade</label>
      <input [formControl]="idade"type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Mora na região de Santa Catarina?</label>
      <select formControlName="moraEmSC" class="form-select" aria-label="Default select example">
        <option selected disabled>Selecione uma opção</option>
        <option value="sim">Sim</option>
        <option value="não">Não</option>
      </select>
    </div>
    <label for="exampleFormControlInput1" class="form-label">Quais tecnologias já estudou?</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label" for="flexRadioDefault1"> Angular
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label" for="flexRadioDefault1"> Javascrip
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label" for="flexRadioDefault2"> Docker
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [formControl]="tecnologias" >
      <label class="form-check-label"> .NET
      </label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" (click)="mostraValor() " class="btn green">Enviar</button>
    </div>

  </form>
</main> -->

<div [formGroup]="compra">>
  <label>Produto </label>
  <input type="text" formControlName="produto" />
  <label for="street">Quantidade </label>
  <input type="text" formControlName="quantidade" />
  <div formGroupName="address">
    <h2>Address</h2>
    <label for="street">Street: </label>
    <input type="text" formControlName="rua" />
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" (click)="mostraValor() " class="btn green">Enviar</button>
  </div>

</div>